/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#CCEBD6;
    background-image:linear-gradient(top, #CCEBD6 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #CCEBD6 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #CCEBD6 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #CCEBD6),
        color-stop(0.51, #E4E4E4)
    );
	height: 100%;
	width: 100%;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0 auto;
    width:100%;
	position: relative;
	padding: 0px;
}


.userInterface {
text-align: center;
margin: 0 auto;	
background: #333;
width: 50%;
border-radius: 5px;
border: 1px solid #333;	
}


@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

html {
	height: 100%;
	width: 100%;
	padding: 0;}

/* Portrait layout (default) */
.app {
    background:url() no-repeat center top; /* 170px x 200px */
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
    text-align: center;
    padding:20px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin: 0 auto;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

#instruct {
align: center;
text-align: center;
}

#instruct h1 {
	font-size: 2em;
	margin: 0;
}

h1 {
    font-weight:normal;
    margin: 20px auto;
    overflow:visible;
    padding: 0px 0px 0px 0px;
    text-align:center;
	color: #4B946A;
	font-size: 3em;
	font-family: 'Chewy', cursive;
	display: inline;
	}
.amountcont {
text-align: center;
width: 100%;
padding: 0px;
margin: 10px auto;
}	
	
.retry {
	width: 50%;
	margin: 10px auto;
	text-align: center;
	color: #4B946A;
	font-size: 2.5em;
	font-family: 'Chewy', cursive;
}	
	
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


#deviceready {
	width: 45%;
	text-align: center;
	margin: 0 auto;
	height: 20px;
}

#bigbutton {
	background: #4B946A;
	color: #e4e4e4;
	border: 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 8px 14px 10px;
	width: 100px;
	height: 100px;
	font-size: 2em;
	letter-spacing: 1px;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
}

input#bigbutton:hover, input#bigbutton:focus {
color:#dfe7ea;
/*reduce the size of the shadow to give a pushed effect*/
-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}

.handle{
	height: 38px;
	width: 50px;
	display: inline-block;
}


.dollar {
    color: #e4e4e4;
    background-color: #4B946A;
	border: 2px solid #333;
	margin: 20px 5px;
	font-size: 1.5em;
	width: 50px;
	height: 100px;
	line-height: 1.8em;
}

.cent img{
	margin: 5px 20px;
}

a:active
    {
    outline: none;
    }

a:focus
{
-moz-outline-style: none;
}
a:focus { outline:none }